<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Schedule Maker</title>

	<!-- CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

	<!-- MODULES -->
	<script type="text/javascript" src="assets/vendor/angular/angular.js"></script>
	<script type="text/javascript" src="app.js"></script>

</head>
<body ng-app="scheduleMakerApp">
<div ng-controller="controller" class="container">
	<div class="row">
		<h1>Schedule Maker - Computer Science - UFCG</h1>
	</div>
	<div class="row">
		<div class="col-lg-2 disciplina-box" ng-class="{selected: disciplinas[disciplina].selected}"
			ng-repeat="(disciplina, value) in disciplinas" ng-click="selectDiscipline(disciplina)">
			<p>{{disciplina | uppercase}}</p>
		</div>

		<br><br>
	</div>

	<div class="row">
		<h1>Discplinas</h1>
	</div>
	<div class="row">	

	<div ng-repeat="(disciplina, value) in disciplinas">
		<div class="col-lg-3" ng-if="value.selected">
			<label>{{disciplina}}</label><button class="btn btn-primary" ng-click="setTurma(value)" ng-model="value.turma">t{{value.turma}}</button>	
		</div>
		
	</div>
	</div>
</div>
</body>
</html>